@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Search the weather by city.</p>
    <a href="ForecastApp/searchCity" class="btn btn-info block" role="button">Search City</a>
    <br />

    <!--<div padding="10%">

       <img src="/Images/Weather.jpeg" class="img-fluid" style="max-width:100%" />
    </div>-->
</div>
